//out: false

.btn__blue {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: #3B63FF;
    gap: 8px;
    color: #FFF;
    font-family: "Source Sans 3";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 122.111%; /* 19.538px */
    padding: 10px 27px 9px 27px;
    transition: all .3s;
    width: fit-content;

   .icon {
        width: 20px;
   }

    &:hover {
        color: #FFF;
        background: #017B22;
    }
}


