html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
iframe {
  margin: 0;
}
a {
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
address {
  font-style: normal;
}
iframe {
  border: none;
}
mark {
  padding: 0;
  background-color: transparent;
}
menu {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-bottom: 0;
}
p {
  margin-bottom: 0;
}
section,
article,
aside,
details,
figcaption,
figure,
header,
footer,
menu,
nav {
  display: block;
}
.btn__transparent {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2E353B;
  border-radius: 10px;
  gap: 16px;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.5px;
  color: #2E353B;
  padding: 12px 32px 14px 32px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn__transparent:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: transparent;
  z-index: -2;
}
.btn__transparent:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-image: linear-gradient(90deg, #5C3B94 0%, #A259FF 100%);
  transition: all 0.3s;
  border-radius: 10px;
  z-index: -1;
}
.btn__transparent:hover {
  color: #FFF;
  border-color: transparent;
}
.btn__transparent:hover .icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
}
.btn__transparent:hover:before {
  width: 100%;
}
.float__whatsapp {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 75px;
  height: 75px;
  background-color: #25D366;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  z-index: 100;
  transition: all linear 0.15s;
  border: 0;
  border-radius: 100%;
}
.float__whatsapp img {
  width: 50px;
}
.float__whatsapp:hover {
  background-color: white;
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.5);
}
.float__whatsapp:hover img {
  filter: brightness(0) saturate(100%) invert(65%) sepia(29%) saturate(3698%) hue-rotate(93deg) brightness(110%) contrast(71%);
}
@media (max-width: 1200px) {
  .float__whatsapp {
    width: 65px;
    height: 65px;
  }
  .float__whatsapp img {
    width: 40px;
  }
}
@keyframes effect--fade_in_right {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes effect--fade_top {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.page__header {
  position: absolute;
  width: 100%;
  display: none;
}
.page__header .wrapper {
  max-width: 1225px;
  padding: 32px 24px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.page__header .wrapper .logo {
  width: 200px;
}
.page__header .wrapper .logo a {
  width: 100%;
}
.page__header .wrapper .logo a img {
  width: 100%;
}
.page__header .wrapper .is--desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 62px;
}
.page__header .wrapper .is--desktop .links {
  display: flex;
  gap: 42px;
}
.page__header .wrapper .is--desktop .links a {
  font-size: 16px;
  font-weight: 500;
  transition: all linear 0.15s;
  color: #2E353B;
}
.page__header .wrapper .is--desktop .links a:hover {
  cursor: pointer;
  color: #A259FF;
}
.page__header .wrapper .is--mobile {
  display: none;
}
@media screen and (max-width: 900px) {
  .page__header .wrapper {
    padding: 24px 28px;
  }
  .page__header .wrapper .logo {
    width: 140px;
  }
  .page__header .wrapper .is--mobile {
    display: block;
    flex-grow: 0;
  }
  .page__header .wrapper .is--mobile .navbar__hamburguer {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
  }
  .page__header .wrapper .is--mobile .navbar__hamburguer img {
    width: fit-content;
  }
  .page__header .wrapper .is--mobile .navbar__overlay {
    background-image: url('../img/bg-services.png'), linear-gradient(#5C3B94, #A259FF);
    background-position: bottom 0 right 0;
    background-repeat: no-repeat;
    z-index: 3001;
    display: none;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: effect--fade_in_right;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden !important;
    transition: all linear 0.5s;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content {
    overflow-y: auto !important;
    height: 90%;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__header {
    display: flex;
    justify-content: flex-end;
    margin: 30px 30px 109px 30px;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__header .overlay__close {
    width: fit-content;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu {
    margin: 0;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__links {
    gap: 12px;
    margin-bottom: 64px;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__links a {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #f7f7f7;
  }
  .page__header .wrapper .is--desktop {
    display: none;
  }
}
.page__hero {
  position: relative;
  height: 794px;
  width: 1192.534px;
  margin: 0 auto;
}
.page__hero .glow {
  position: absolute;
  z-index: 1;
}
.page__hero .glow.glow-1 {
  top: 100px;
  left: 200px;
  width: 435px;
  height: 230px;
  border-radius: 435px;
  background: radial-gradient(37.7% 37.69% at 50% 50%, rgba(16, 25, 195, 0.19) 0%, rgba(16, 25, 195, 0) 100%);
}
.page__hero .glow.glow-2 {
  top: 400px;
  left: 800px;
  width: 562.793px;
  height: 439.845px;
  transform: rotate(0.781deg);
  border-radius: 562.793px;
  background: radial-gradient(37.7% 37.69% at 50% 50%, rgba(16, 25, 195, 0.26) 0%, rgba(16, 25, 195, 0) 100%);
}
.page__hero .glow.glow-3 {
  top: 200px;
  left: 600px;
  width: 346px;
  height: 239px;
  border-radius: 346px;
  background: radial-gradient(37.7% 37.69% at 50% 50%, rgba(16, 25, 195, 0.36) 0%, rgba(16, 25, 195, 0) 100%);
}
.page__hero .glow.glow-4 {
  top: 500px;
  left: 300px;
  width: 503.788px;
  height: 293.092px;
  transform: rotate(0.781deg);
  border-radius: 503.788px;
  background: radial-gradient(37.7% 37.69% at 50% 50%, rgba(16, 25, 195, 0.22) 0%, rgba(16, 25, 195, 0) 100%);
}
.page__hero .glow.glow-5 {
  top: 350px;
  left: 700px;
  width: 627px;
  height: 432px;
  border-radius: 627px;
  background: radial-gradient(39.84% 43.52% at 50% 50%, rgba(16, 25, 195, 0.26) 0%, rgba(16, 25, 195, 0) 100%);
}
.page__hero .glow.glow-6 {
  top: 150px;
  left: 900px;
  width: 367.505px;
  height: 273.256px;
  transform: rotate(-80deg);
  border-radius: 367.505px;
  background: radial-gradient(36.06% 43.42% at 47.35% 50.46%, rgba(16, 25, 195, 0.26) 0%, rgba(16, 25, 195, 0) 100%);
}
.page__hero .hero-core {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.page__hero .hero-core .hero-logo {
  width: 147px;
}
.page__hero .hero-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.page__hero .hero-svg .circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}
.page__hero .hero-svg .circle.circle-1 {
  filter: drop-shadow(0 0 6px rgba(16, 25, 195, 0.45)) drop-shadow(0 0 20px rgba(16, 25, 195, 0.18));
}
.page__hero .hero-svg .circle.circle-2 {
  filter: drop-shadow(0 0 8px rgba(0, 229, 255, 0.35)) drop-shadow(0 0 22px rgba(0, 229, 255, 0.12));
  opacity: 0.85;
}
.page__hero .hero-svg .circle.circle-3 {
  filter: drop-shadow(0 0 5px rgba(16, 25, 195, 0.35)) drop-shadow(0 0 16px rgba(16, 25, 195, 0.12));
  opacity: 0.85;
}
.page__hero .hero-svg .line {
  position: absolute;
  opacity: 0.9;
}
.page__hero .hero-svg .line.line-green-1 {
  top: 136.15px;
  left: 434.73px;
  filter: drop-shadow(0 0 4px rgba(4, 223, 64, 0.9)) drop-shadow(0 0 12px rgba(4, 223, 64, 0.45)) drop-shadow(0 0 24px rgba(4, 223, 64, 0.2));
}
.page__hero .hero-svg .line.line-blue-2 {
  top: 54.27px;
  left: 573.69px;
  filter: drop-shadow(0 0 4px rgba(4, 66, 223, 0.9)) drop-shadow(0 0 12px rgba(4, 66, 223, 0.45)) drop-shadow(0 0 24px rgba(4, 66, 223, 0.2));
}
.page__hero .hero-svg .line.line-purple-3 {
  top: 326.27px;
  left: 720.69px;
  filter: drop-shadow(0 0 4px rgba(171, 82, 255, 0.9)) drop-shadow(0 0 12px rgba(171, 82, 255, 0.45)) drop-shadow(0 0 24px rgba(171, 82, 255, 0.2));
}
.page__hero .hero-svg .line.line-green-4 {
  top: 433.15px;
  left: 744.73px;
  filter: drop-shadow(0 0 4px rgba(4, 223, 64, 0.9)) drop-shadow(0 0 12px rgba(4, 223, 64, 0.45)) drop-shadow(0 0 24px rgba(4, 223, 64, 0.2));
}
.page__hero .hero-svg .line.line-yellow-5 {
  top: 429.27px;
  left: 310.69px;
  filter: drop-shadow(0 0 4px rgba(255, 214, 10, 0.9)) drop-shadow(0 0 12px rgba(255, 214, 10, 0.45)) drop-shadow(0 0 24px rgba(255, 214, 10, 0.2));
}
.page__hero .hero-svg .dot {
  position: absolute;
}
.page__hero .hero-svg .dot.dot-green.dot-green-1 {
  top: 132.8px;
  left: 433.8px;
}
.page__hero .hero-svg .dot.dot-green.dot-green-2 {
  top: 331.8px;
  left: 539.8px;
}
.page__hero .hero-svg .dot.dot-green.dot-green-3 {
  top: 428.8px;
  left: 741.8px;
}
.page__hero .hero-svg .dot.dot-green.dot-green-4 {
  top: 481.8px;
  left: 847.8px;
}
.page__hero .hero-svg .dot.dot-blue.dot-blue-1 {
  top: 50.8px;
  left: 655.8px;
}
.page__hero .hero-svg .dot.dot-blue.dot-blue-2 {
  top: 285.8px;
  left: 570.8px;
}
.page__hero .hero-svg .dot.dot-purple.dot-purple-1 {
  top: 341.8px;
  left: 713.8px;
}
.page__hero .hero-svg .dot.dot-purple.dot-purple-2 {
  top: 321.8px;
  left: 830.8px;
}
.page__hero .hero-svg .dot.dot-yellow.dot-yellow-1 {
  top: 471.8px;
  left: 306.8px;
}
.page__hero .hero-svg .dot.dot-yellow.dot-yellow-2 {
  top: 425.8px;
  left: 411.8px;
}
.page__hero .hero-svg .dot.dot-blue-small {
  top: 560px;
  left: 587px;
}
.page__hero .hero-svg .dot.dot-green-small {
  top: 488px;
  left: 681px;
}
.page__hero .hero-svg .dot.dot-yellow-small {
  top: 322px;
  left: 442px;
}
body {
  background-color: #000718;
  font-family: "Figtree", sans serif;
  color: #EBEBEB;
}
.brands__scrolling {
  position: relative;
  overflow: hidden;
  width: 100%;
  object-fit: contain;
  background-color: #0ACF83;
  z-index: 10;
  display: none;
}
.brands__scrolling .do-not-overflow {
  overflow: hidden;
  padding: 28px 0 32px 0;
}
.brands__scrolling .do-not-overflow .ticker-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  object-fit: contain;
}
.brands__scrolling .do-not-overflow .ticker-container .ticker {
  display: flex;
  align-items: center;
  gap: 28px;
  animation: scroll 30s linear infinite;
}
.brands__scrolling .do-not-overflow .ticker-container .ticker .text {
  color: #EBF5F0;
  text-align: center;
  font-family: "Fira Sans Extra Condensed";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  min-width: fit-content;
}
@media (max-width: 900px) {
  .brands__scrolling .do-not-overflow {
    padding: 24px 0;
  }
  .brands__scrolling .do-not-overflow .ticker-container .ticker {
    animation: scroll 10s linear infinite;
  }
  .brands__scrolling .do-not-overflow .ticker-container .ticker .text {
    font-size: 24px;
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
