// out: false

.page__header {
    position: absolute;
    width: 100%;
    z-index: 6000;

    .wrapper {
        max-width: 1225px;
        padding: 32px 24px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 60px;

        .logo { 
            width: 160px;

            a {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }

        .is--desktop {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 62px;

            .links {
                display: flex;
                gap: 42px;
                opacity: 0;
                transform: translateY(12px);
                pointer-events: none;

                a {
                    color: #0FA9F5;
                    font-family: Saira;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    &:hover {
                        cursor: pointer;
                        color: #FFCE00;
                    }
                }
            }

            .btn__header {
                opacity: 0;
                transform: translateY(12px);
                border-radius: 30px;
                border: 1px solid rgba(255, 206, 0, 0.15);
                background: linear-gradient(94deg, rgba(16, 25, 195, 0.09) 2.06%, rgba(4, 223, 64, 0.03) 97.75%);
                display: flex;
                align-items: center;
                gap: 8px;
                padding: 7px 16px 8px 10px;
                color: #FFCE00;
                font-family: Saira;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 122.111%; /* 19.538px */

                &:hover {
                    cursor: pointer;
                    filter: brightness(1.2);
                    color: #FFCE00;
                }
            }
        }

        .is--mobile {
            display: none;
        }
    }



    @media screen and (max-width: @tablet) {

        .wrapper {
            padding: 24px 28px;

            .logo {
                width: 140px;
            }

            .is--mobile {
                display: block;
                flex-grow: 0;

                .navbar__hamburguer {
                    display: flex;
                    justify-content: flex-end;
                    width: fit-content;

                    img {
                        width: fit-content;
                    }
                }

                .navbar__overlay {
                    background-image: url('../img/bg-services.png'), linear-gradient(#5C3B94, #A259FF);
                    background-position: bottom 0 right 0;
                    background-repeat: no-repeat;
                    z-index: 3001;
                    display: none;
                    .animation__fade_in_right();

                    &.open {
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        width: 100%;
                        position: fixed;
                        top: 0;
                        right: 0;
                        overflow: hidden !important;
                        transition: all linear 0.5s;

                        .overlay__content {
                            overflow-y: auto !important;
                            height: 90%;

                            .overlay__header {
                                display: flex;
                                justify-content: flex-end;
                                margin: 30px 30px 109px 30px;

                                .overlay__close {
                                    width: fit-content;
                                }
                            }

                            .overlay__menu {
                                margin: 0;

                                .overlay__links {
                                    gap: 12px;
                                    margin-bottom: 64px;

                                    a {
                                        font-size: 16px;
                                        font-weight: 400;
                                        text-align: center;
                                        color: #f7f7f7;
                                    }
                                }

                               
                            }
                        }
                    }
                    
                }
            }

            .is--desktop {
                display: none;
            }


        }


    }
}
