//out: false

.page__hero {
    position: relative;
    height: 794px;
    width: 1192.534px;
    margin: 0 auto;

    .glow {
        position: absolute;
        z-index: 1;
        pointer-events: none;
        border-radius: 50%;
        filter: blur(42px);
        mix-blend-mode: screen;
        opacity: .6;
        background:
        radial-gradient(
            rgba(16, 25, 195, .36) 0%,
            rgba(16, 25, 195, 0) 100%
        );

       &.glow-1 {
            top: 47px;
            left: 240px;
            width: 435px;
            height: 230px;
        }
        &.glow-2 {
            top: 0;
            left: 748px;
            width: 462px;
            height: 339px;
            transform: rotate(.7deg);
        }

        &.glow-3 {
            top: 207px;
            left: 550px;
            width: 346px;
            height: 239px;
        }

        &.glow-4 {
            top: 360px;
            left: 124px;
            width: 503px;
            height: 293px;
            transform: rotate(.7deg);
        }

        &.glow-5 {
            top: 278px;
            left: 305px;
            width: 627px;
            height: 432px;
        }

        &.glow-6 {
            top: 278px;
            left: 643px;
            width: 367px;
            height: 273px;
            transform: rotate(-80deg);
        }
    }
    
    .hero-core {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .hero-logo {
            width: 147px;
        }
    }

    .hero-svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;

        .circle {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 1;

            &.circle-1 {
                filter:
                drop-shadow(0 0 6px rgba(16, 25, 195, .45))
                drop-shadow(0 0 20px rgba(16, 25, 195, .18));
            }

            &.circle-2 {
                filter:
                drop-shadow(0 0 8px rgba(0, 229, 255, .35))
                drop-shadow(0 0 22px rgba(0, 229, 255, .12));
                opacity: .85;
            }

            &.circle-3 {
                filter:
                drop-shadow(0 0 5px rgba(16, 25, 195, .35))
                drop-shadow(0 0 16px rgba(16, 25, 195, .12));
                opacity: .85;
            }
        }

        .line {
            position: absolute;
            opacity: .9;

            &.line-green-1 {
                top: 136.15px;
                left: 434.73px;

                filter:
                drop-shadow(0 0 4px rgba(4, 223, 64, .9))
                drop-shadow(0 0 12px rgba(4, 223, 64, .45))
                drop-shadow(0 0 24px rgba(4, 223, 64, .2));
            }

            &.line-blue-2 {
                top: 54.27px;
                left: 573.69px;

                filter:
                drop-shadow(0 0 4px rgba(4, 66, 223, .9))
                drop-shadow(0 0 12px rgba(4, 66, 223, .45))
                drop-shadow(0 0 24px rgba(4, 66, 223, .2));
            }

            &.line-purple-3 {
                top: 326.27px;
                left: 720.69px;

                filter:
                drop-shadow(0 0 4px rgba(171, 82, 255, .9))
                drop-shadow(0 0 12px rgba(171, 82, 255, .45))
                drop-shadow(0 0 24px rgba(171, 82, 255, .2));
            }

            &.line-green-4 {
                top: 433.15px;
                left: 744.73px;

                filter:
                drop-shadow(0 0 4px rgba(4, 223, 64, .9))
                drop-shadow(0 0 12px rgba(4, 223, 64, .45))
                drop-shadow(0 0 24px rgba(4, 223, 64, .2));
            }

            &.line-yellow-5 {
                top: 429.27px;
                left: 310.69px;

                filter:
                drop-shadow(0 0 4px rgba(255, 214, 10, .9))
                drop-shadow(0 0 12px rgba(255, 214, 10, .45))
                drop-shadow(0 0 24px rgba(255, 214, 10, .2));
            }
        }

        .dot {
            position: absolute;

            &.dot-green {
                filter: drop-shadow(0 0 3.3px rgba(4, 223, 64, 0.83));

                &.dot-green-1 {
                    top: 132.8px;
                    left: 433.8px;
                }

                &.dot-green-2 {
                    top: 331.8px;
                    left: 539.8px;
                }

                &.dot-green-3 {
                    top: 428.8px;
                    left: 741.8px;
                }

                &.dot-green-4 {
                    top: 481.8px;
                    left: 847.8px;
                }
            }

            &.dot-blue {
                filter: drop-shadow(0 0 3.3px rgba(0, 13, 255, 0.83));
                
                &.dot-blue-1 {
                    top: 50.8px;
                    left: 655.8px;
                }

                &.dot-blue-2 {
                    top: 285.8px;
                    left: 570.8px;
                }
            }

            &.dot-purple {
                filter: drop-shadow(0 0 3.3px rgba(138, 56, 245, 0.83));

                &.dot-purple-1 {
                    top: 341.8px;
                    left: 713.8px;
                }

                &.dot-purple-2 {
                    top: 321.8px;
                    left: 830.8px;
                }
            }

            &.dot-yellow {
                filter: drop-shadow(0 0 3.3px rgba(255, 206, 0, 0.83));

                &.dot-yellow-1 {
                    top: 471.8px;
                    left: 306.8px;
                }

                &.dot-yellow-2 {
                    top: 425.8px;
                    left: 411.8px;
                }
            }

            &.dot-blue-small {
                filter: drop-shadow(0 0 3.3px rgba(0, 13, 255, 0.83));
                top: 560px;
                left: 587px;
            }

            &.dot-green-small {
                filter: drop-shadow(0 0 3.3px rgba(4, 223, 64, 0.83));
                top: 488px;
                left: 681px;
            }

            &.dot-yellow-small {
                filter: drop-shadow(0 0 3.3px rgba(255, 206, 0, 0.83));
                top: 322px;
                left: 442px;
            }

            
        }
    }

    .flow-card {
        display: flex;
        gap: 18px;
        position: absolute;
        border-radius: 30px;
        padding: 15px 18px 15px 22px;       

        .card-content {
            display: flex;
            flex-direction: column;
            gap: 6px;            

            h3 {
                color: #FFF;
                font-family: "Saira", sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 122.111%; /* 24.422px */
            }

            .info {
                p {
                   font-family: Saira;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 122.111%; 
                }

                span {
                    color: #B6C7EB;
                    font-family: "Source Sans 3";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 122.111%; /* 17.096px */
                }
            }
        }

        &.card-1 {
            top: 81px;
            left: 196px;
            width: 200px;            
            height: auto;
            border-radius: 30px;
            border: 1px solid rgba(0, 255, 166, 0.28);
            background: linear-gradient(94deg, rgba(4, 223, 146, 0.08) 2.06%, rgba(4, 223, 64, 0.01) 97.75%);

             .card-icon {
                margin-top: 7px;
            }

            .info {
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                    color: #55CF61;
                }
            }
        }

        &.card-2 {
            top: 248px;
            left: 225px;
            gap: 10px;
            align-items: center;
            width: fit-content; 
            padding: 12px 16px;           
            height: auto;
            border-radius: 20px;
            border: 1px solid rgba(0, 255, 166, 0.28);
            background: linear-gradient(94deg, rgba(4, 223, 146, 0.08) 2.06%, rgba(4, 223, 64, 0.01) 97.75%);

            .card-icon {
                width: 27.535px;
                height: 27.535px;
            }

            .card-content {
                h3 {
                    display: none;
                    transition: all 0.3s ease;
                    color: #04DF40;
                    font-family: Saira;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 122.111%; /* 18.317px */

                    &.active {
                        display: block;
                    }                    
                }
            }
        }       

        &.card-3 {
            top: 21px;
            left: 661px;
            width: 200px;
            height: auto;
            border: 1px solid rgba(59, 99, 255, 0.22);
            background: linear-gradient(94deg, rgba(16, 25, 195, 0.09) 2.06%, rgba(59, 99, 255, 0.02) 97.75%);

             .card-icon {
                margin-top: 7px;
            }

            .info {
                display: flex;
                flex-direction: column;
                gap: 6px;

                p {
                    color: #3BA0FF;
                }
            }
        }

        &.card-4 {
            top: 180px;
            left: 748px;
            gap: 10px;
            align-items: center;
            width: fit-content; 
            padding: 12px 16px;           
            height: auto;
            border-radius: 20px;
            border: 1px solid rgba(59, 99, 255, 0.27);
            background: rgba(16, 25, 195, 0.09);

            .card-icon {
                width: 27.535px;
                height: 27.535px;
            }

            .card-content {
                h3 {
                    display: none;
                    transition: all 0.3s ease;
                    color: #BA86FF;
                    font-family: Saira;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 122.111%; /* 18.317px */

                    &.active {
                        display: block;
                    }                    
                }
            }
        }

        &.card-5 {
            top: 276px;
            left: 835px;
            width: 200px;
            height: auto;
            border: 1px solid rgba(59, 99, 255, 0.22);
            background: linear-gradient(94deg, rgba(16, 25, 195, 0.09) 2.06%, rgba(59, 99, 255, 0.02) 97.75%);

             .card-icon {
                margin-top: 7px;
            }

            .info {
                display: flex;
                flex-direction: column;
                gap: 6px;

                p {
                    color: #BA86FF;
                }
            }
        }

         &.card-6 {
            top: 476px;
            left: 155px;
            width: 200px;
            height: auto;
            border: 1px solid rgba(59, 99, 255, 0.22);
            background: linear-gradient(94deg, rgba(16, 25, 195, 0.09) 2.06%, rgba(59, 99, 255, 0.02) 97.75%);

             .card-icon {
                margin-top: 7px;
            }

            .info {
                display: flex;
                flex-direction: column;
                gap: 6px;

                p {
                    color: #FFCE00;
                }
            }
        }
        
    }
}
